PORT=5003
APP_HOST=localhost
ENV=dev
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority&appName=<app-name>
KAFKA_BROKER=localhost:9092
TOKEN_SECRET='-----BEGIN PRIVATE KEY-----
<your-private-key>
-----END PRIVATE KEY-----'